body{
    width: 100wv;
    color: #aaa;
    font-family: "Open Sans";
    display: flex;
}

a, svg{
    color: #aaa;
    fill: currentcolor;
    text-decoration: none;
}

/*  SIDEBAR  ------------*/

aside li  {
    display: flex;
    align-items: center;
}

aside{
    position: fixed;
    width: 250px;
    height: 100vh;
    line-height: 2;
    font-size: 0.9em;
    background-color: #333;
}

.left_top{
    background-color:#444;
    height: 70%;
    padding-top: 15px;
    padding-left: 15px;
    display: flex;
    
}

.left_top h4, .left_bottom h4 {
    padding-left: 18px;
}

.documents{
    color: #eee;
}

.left_bottom{
    background-color: #333;
    height: 30%;
    padding-top: 15px;
    padding-left: 15px;
}

.rightIndent {
    padding-left: 40px;
}

#first{
    margin-left: 50px;
}

#second{
    margin-left: 27px;
}

/*  HEADERS ------------------*/

.main_section{
    margin-left: 250px;
}

.product_wrapper{
    background: #eee;
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    flex-direction: column;
    width: 100%;    
}

.bold{
    font-weight: 600;
}

.main_header {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.main_header ul{
    display: flex;
}

.main_header ul li{
    padding-left: 20px;
    padding-bottom: 40px;
}

.search_folder{
    padding-right: 20px;
}

.search_folder a{
    padding-right: 20px;
}

.sub_header ul{
    display: flex;
}

.sub_header ul li{
    padding-left: 20px;
    padding-bottom: 20px;
}

/* MAIN PRODUCT SECTION --------*/

.sortAndView{
    display:flex;
    justify-content: space-between
}

.name{
    display: flex;
    padding-left: 20px;
    padding-top: 10px;
}

.options{
    padding-right: 20px;
    padding-top: 10px;
}

img{
    padding-top: 20px;
}

.product_wrapper{
    width: 100%;
    
}

.products{
    background: #eee;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 80px;
}